{% if errors %}
<div class="card border-danger">
<div class="card-header bg-danger">
    Errors
    </div><div class="card-body">
      {% for e in errors %}
      <dd>{{ e }}</dd>
      {% endfor %}
  </div>
</div>
<p>&nbsp;</p>
{% endif %}
<form method="post" id="signup-form">
    {% csrf_token %}
    <div class="form-group">
        <label for="">Name <sup class="text-danger">*</sup></label>
        <input type="text" class="form-control" id="" placeholder="Your name" required value="{% if instance.full_name %}{{ instance.full_name }}{% endif %}" name="full_name">
        <div class="invalid-feedback">
            This field is required.
        </div>
    </div>
    <div class="form-group">
        <label for="">Email <sup class="text-danger">*</sup></label>
        <input type="email" class="form-control" id="" placeholder="Your email address" required value="{% if instance.email %}{{ instance.email }}{% endif %}" name="email">
        <div class="invalid-feedback">
            This field is required.
        </div>
    </div>
    <div class="form-check" style="margin-bottom: 1em">
        <input type="checkbox" name="email_new_swarm" id="email_new_swarm" class="form-check-input" {% if instance.email_new_swarm %}checked="checked"{% endif %}>
        <label class="form-check-label" for="email_new_swarm">Enable swarm e-mail notifications</label>
        <div class="invalid-feedback">
            This field is required.
        </div>
    </div>
    <div class="form-group">
        <label for="">Phone</label>
        <input type="tel" class="form-control" id="" placeholder="Your phone number" value="{% if instance.phone %}{{ instance.phone }}{% endif %}" name="phone">
        <div class="invalid-feedback">
            This field is required.
        </div>
    </div>
    <div class="form-group">
        <label for="">Postal code <sup class="text-danger">*</sup></label>
        <input pattern="[\w][\d][\w][\d][\w][\d]" autocapitalize="true"  type="text" class="form-control" id="input-zip" placeholder="Your postal code" required value="{% if instance.zip %}{{ instance.zip }}{% endif %}" name="zip">
        <div class="invalid-feedback">
            This field is required.
        </div>
    </div>
    <div class="form-group">
        <label for="">Max distance <sup class="text-danger">*</sup></label>
        <select name="max_distance_km" class="form-control col-sm-2">
            <option {% if instance.max_distance_km == 5 %}selected="selected"{% endif %} value="5">5 KM</option>
            <option {% if instance.max_distance_km == 10 %}selected="selected"{% endif %} value="10">10 KM</option>
            <option {% if instance.max_distance_km == 20 %}selected="selected"{% endif %} value="20">20 KM</option>
            <option {% if instance.max_distance_km == 50 %}selected="selected"{% endif %} value="50">50 KM</option>
        </select>
    </div>

    <div class="form-group">
        <a href="#" class="btn btn-lg btn-primary" id="ahref-submit">
            Submit
        </a>
    </div>
</form>