{% extends 'base.html' %}
{% block main %}
    <div class="row">
        <div class="col-sm-12 text-center">
            <img class="img-fluid col-sm-3" src="https://limestonebeekeepersguild.files.wordpress.com/2019/04/cropped-beekeepersguildthick.png?w=1480&h=1112">
            <h1>Swarm Tracker</h1>
        </div>
    </div>
    <p>&nbsp;</p>
    <div class="row">
        <div class="col-sm-12 text-center">
            <button class="btn btn-lg btn-primary col-sm-3">
                Report a Swarm
            </button>
        </div>
    </div>
    <p>&nbsp;</p>
    <div class="row">
        <div class="col-sm-12 text-center">
            <button class="btn btn-lg btn-warning col-sm-3">
                Catch a Swarm
            </button>
        </div>
    </div>
{% endblock %}