{% extends 'base.html' %}
{% block main %}
    <h4>Your profile</h4>

    {% include '_user_form.html' %}

{% endblock %}

{% block script %}
<script>
$(function() {
    $('#input-zip').on('blur', function() {
        $(this).val($(this).val().toUpperCase().replace(' ', ''));
    });
    $('#ahref-submit').on('click', function(event) {
        var form = document.getElementById('signup-form');
        if (form.checkValidity()) {
            $('#signup-form').submit();
        }
        form.classList.add('was-validated');
        return false;
    });
});
</script>
{% endblock %}